<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>favicon}}
    <title>{{title}} </title>
    {{>bootstrap.min}}
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <link rel="stylesheet" href="./src/css/weather-ui.css">
    <style>
        .centering>p {
            font-size: larger;
            text-align: left;
            padding-left: 30%;
        }

        .centering>p:first-child {
            padding-top: 55% !important;
        }
    </style>
</head>

<body class="text-center">
    {{>navbar}}
    <div class="main-content">
        <div class="container-fluid p-0">
            <div class="jumbotron mb-0">
                <div class="centering">
                    <h2>{{head}}</h2>
                    <h4>You can contact me using following platforms :)</h4>
                    <br><br>
                    <p>
                        <span>
                            Instagram: <a target="_blank" href="https://instagram.com/anikethirpara">@anikethirpara</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            LinkedIn: <a target="_blank" href="https://www.linkedin.com/aniket-hirpara-0b4747151">Aniket
                                Hirpara</a>
                        </span>
                    </p>
                    <p>
                        <span>
                            Mail: <a target="_blank" href="mailto:gdg4dev@gmail.com">gdg4dev@gmail.com</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>

</html>