<footer class="bg-dark mb-0 p-2 text-white">
    <p class="lead">
        Weather-UI Is Made With ❤ <br>Using NodeJS & Some Powerful Weather API From Darksky
        and
        Geo-coding API Form Mapbox 🔥 <br>
        This Project Is Open-Source and Available On <a href="https://github.com/gdg4dev/weather-ui">Github</a>, Created
        by
        <b>{{author}}</b> </p>
</footer>